html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	margin: 0;
	font-family: "Roboto";
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

h1 {
	background-color: #2980e9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background-color: #f7f7f7;
}

canvas {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}

span {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	display: inline-block;
	width: 0;
	opacity: 0;
	transition: 0.2s linear;
}

li:hover span{
	width: 40px;
	opacity: 1.0;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	box-sizing: border-box;
	padding: 13px 13px 13px 20px;
	color: #2980e9;
	border: rgba(0, 0, 0, 0);
}

input:focus {
	background-color: #fff;
	border: 3px solid #2980e9;
	outline: none;
}

input[placeholder] {
	font-size: 15px;
}

#container {
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#volume {
	color: white;
	padding: 20px;
	display: inline-block;
	position: relative;
}

.completed {
	color: grey;
	text-decoration: line-through;
}

.disappear {
	transition: 0.2s linear;
	width: 0;
	opacity: 0;
}

.appear {
	transition: 0.2s ;
	width: 100%;
	opacity: 1.0;
}

.fa-plus {
	float: right;
}